<h2>Login</h2>
<%= form_with(model: @user) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :password %>
<%= f.password_field :password %>
<%= f.submit %>
<% end %>

<%# <%= link_to 'Log in with Github', '/auth/github', method: :post %>
<%= link_to 'Log in with Google', '/auth/google_oauth2', method: 'post' %>
<%# <%= link_to 'Log in with Facebook!', '/auth/facebook', method: :post %>


