<%= @user.name %> <br>
<%= @user.email %> <br>
<% if @user.admin %>
    <h3>ADMIN</h3>
<% end %>
<p>Current Tickets</p>
<% @user.tickets.each do |ticket| %>
 <ul>
    <% if ticket.status == "Open" || ticket.status == "In Progress" %>
    <li>
        <%= link_to "See ticket no #{ticket.id}", ticket_path(ticket) %>
    </li>
    <% end %>
</ul>
<% end %>
<br>
<% if policy(current_user).destroy? %>
    <%= button_to "Delete", action: :destroy %>
<% end %>
<br>
<%= link_to "All tickets", tickets_path %>
<br>
