<h2> <%= @customer.name %> </h2>
<%= @customer.phone_number %>
<%= @customer.email %>

<% @customer.bikes.each do |bike| %>

<ul>
    <li>
    <%= bike.make %>
    <%= bike.model_series %>
    <%= bike.size %>
    <%= bike.color %>
    </li>
</ul>
    <% end %>

<ul>
<li>
<% if @customer.tickets %>
  <%= link_to "Last ticket", ticket_path(@customer.tickets.last) %> </li>
<% end %>
</ul>
<%= link_to "Edit Customer", edit_customer_path(@customer) %>
<%= link_to "New Ticket", {:controller => "tickets", :action => "new", :customer_id => @customer.id} %>