<h2> New Ticket </h2>
<% if !@customer %>
<%= form_tag(customers_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search])%>
    <%= submit_tag "Search for Custie"%>
    <% end %>
<br>
    <%= render "form_cust", ticket: @ticket %>
    <% else %>
    <%= @customer.name %> <br>
    <%= @customer.phone_number %> <br>
    <%= @customer.email %>
    <%= render "form", ticket: @ticket%>
<% end %>
