<%# Work on this ticket has started! %>
<h2>Ticket No <%= @ticket.id %></h2>
<%= @ticket.check_in %>
<%= @ticket.work_start if @ticket.work_start %>
<%= @ticket.status %>
<%= @ticket.due %>
<%= @ticket.labor %>
<%= @ticket.labor_cost %>
<%= @ticket.parts %>
<%= @ticket.parts.cost %>
<%= @ticket.total_cost %>
<%= @ticket.customer.name %>
<%= @ticket.customer.phone_number %>
<%= @ticket.bike.model_series %>
<%= @ticket.bike.color %>
<%# button_to "Start Ticket" %>
<% if @ticket.status == 'InProgress' %>
    <%= button_to "Pause Work", @ticket.paused %>
    <% elsif @ticket.status == 'Open' %>
    <%= button_to "Start Work", @ticket.started %>
<% end %>
<%= button_to "Complete Ticket", @ticket.complete_ticket %>

  
<% end %>
<%= button_to @ticket %>
    <% @ticket.started %>
    <% end %>
<%= link_to "Edit Ticket", edit_ticket_path(@ticket) %>