<h2>Ticket No <%= @ticket.id %></h2>
<%= @ticket.check_in %>
<%= @ticket.work_start %>
<%= @ticket.due %>
<%= @ticket.labor %>
<%= @ticket.labor_cost %>
<%= @ticket.parts %>
<%= @ticket.parts.cost %>
<%= @ticket.total_cost %>
<%= @ticket.customer.name %>
<%= @ticket.customer.phone_number %>
<%= @ticket.bike.model %>
<%= @ticket.bike.color %>
<%= link_to "Edit Ticket", edit_ticket_path(@ticket) %>